<nav class="navbar">
        <div class="nav-container">
            <a href="#" class="logo">PlayCode</a>
            <ul class="nav-menu">
                <li><a href="#" class="nav-link">Home</a></li>
                <li><a href="#" class="nav-link">Problems</a></li>
                <li><a href="#" class="nav-link">Contest</a></li>
                <li><a href="#" class="nav-link">Play</a></li>
                <li><a href="#" class="nav-link">Leaderboard</a></li>
                <li><a href="#" class="nav-link">Store</a></li>
            </ul>
            <div class="auth-buttons">
                <a href="#" class="btn btn-login">Login</a>
                <a href="#" class="btn btn-signup">Sign Up</a>
            </div>
            <i class="fa-solid fa-bars" id="bar"></i>
        </div>
    </nav>